<!-- <h2>Arquero: "Nombre Arquero"</h2> -->
<aside>
  <app-botones-navegacion [urlVolver]="'/arqueros'" [urlHomeOCrear]="'/'" [textoVolver]="'Volver'"
  [textoHomeOCrear]="'Home'"
>
</app-botones-navegacion>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Nombre Arquera</mat-card-title>
      <mat-card-subtitle>Division</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Descripción del bolso.
      </p>
      <p>
        Con quien comparte bolso.
      </p>
      <p>
        Rastreo del bolso.
      </p>
      <p>
        Equipamiento propio.
      </p>
    </mat-card-content>
  </mat-card>
  <!-- <button mat-flat-button color="warn" routerLink="/rastreo-bolso"
    style="border: 1px solid black; width: 200px; margin: auto;">
    Rastreo
  </button> -->
</aside>