<aside class="aside-form">

    <h2 class="titulo-h2">Crea tu Arquero</h2>

    <app-botones-navegacion [urlVolver]="'/arqueros'" [urlHomeOCrear]="'/'" [textoVolver]="'Volver'"
        [textoHomeOCrear]="'Home'">
    </app-botones-navegacion>

    <div class="scroll-container">
        <form #form [formGroup]="formCrearArquero" class="form">
            <mat-form-field>
                <mat-label class="form-label">Nombre Arquero/a:</mat-label>
                <input matInput formControlName="nombreArquero">
            </mat-form-field>
            <mat-form-field>
                <mat-label class="form-label">División:</mat-label>
                <input matInput formControlName="division">
            </mat-form-field>
            <mat-form-field>
                <mat-label class="form-label">Equipamiento Propio:</mat-label>
                <textarea matInput formControlName="equipamientoPropio"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label class="form-label">Equipamiento del Club que utiliza:</mat-label>
                <textarea matInput formControlName="equipamientoClub"></textarea>
            </mat-form-field>
            <button mat-flat-button class="boton-crear"
                (click)="crearArquero()" [disabled]="formCrearArquero.invalid">
                Crear
            </button>
        </form>
    </div>

</aside>