<aside>

    <div>
        <button mat-flat-button color="warn" routerLink="/"
            style="border: 1px solid black; width: 200px; margin: auto;">
            Home
        </button>
        <button mat-flat-button color="warn" routerLink="/arqueros"
            style="border: 1px solid black; width: 200px; margin: auto;">
            Volver
        </button>
    </div>
    <div>
        <mat-form-field>
            <mat-label style="color:black">Nombre</mat-label>
            <input matInput placeholder="Nombre">
        </mat-form-field>
        <mat-form-field>
            <mat-label style="color:black">División</mat-label>
            <input matInput placeholder="División">
        </mat-form-field>
        <mat-form-field>
            <mat-label style="color:black">Nombre Bolso</mat-label>
            <input matInput placeholder="Nombre Bolso">
        </mat-form-field>
    </div>
    <div>
        <button mat-flat-button color="warn" type="submit" style="border: 1px solid black; width: 200px; margin: auto;">
            Crear
        </button>
    </div>
</aside>