<mat-dialog-content>
    <h2 mat-dialog-title class="titulo-h2">{{ mensaje }}!</h2>
</mat-dialog-content>

<mat-dialog-actions class="botones-navegacion-home">

    <!-- Botones Crear -->
    <button class="boton-navegacion" mat-flat-button mat-dialog-close *ngIf="esCrear">
        Crear otro
    </button>
    <button class="boton-navegacion" mat-flat-button [routerLink]="[ '/', clubParam ]" mat-dialog-close *ngIf="esCrear && !esEquipamiento && !esArquero">
        Home
    </button>
    <button class="boton-navegacion" mat-flat-button [routerLink]="[ clubParam, 'bolsos' ]" mat-dialog-close *ngIf="esCrear && esEquipamiento">
        Equipamientos del Club
    </button>
    <button class="boton-navegacion" mat-flat-button [routerLink]="[ clubParam, 'arqueros' ]" mat-dialog-close *ngIf="esCrear && esArquero">
        Arqueros del Club
    </button>

    <!-- Boton Eliminar -->
    <button class="boton-navegacion" mat-flat-button mat-dialog-close *ngIf="!esCrear">
        Cerrar
    </button>

</mat-dialog-actions>