<!-- Detalle Bolsos -->
<mat-card class="example-card" *ngIf="bolso">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ bolso.nombreBolso }}</mat-card-title>
        <mat-card-subtitle> Arquero que utiliza el bolso: {{ bolso.arquero }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <ul>
            <li>
                <span>
                    Estado del bolso:
                </span>
                {{ bolso.estado }}
            </li>
            <li>
                <span>
                    Ubicación del bolso:
                </span>
                {{ bolso.rastreo }}
            </li>
            <li>
                <span>
                    Equipamiento:
                </span>
                {{ bolso.partes }}
            </li>
        </ul>
    </mat-card-content>
</mat-card>

<!-- Detalle Arquero -->
<mat-card class="example-card" *ngIf="arquero">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ arquero.nombreArquero }}</mat-card-title>
        <mat-card-subtitle> División en la que juega: {{ arquero.division }}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <ul>
            <li>
                <span>
                    Equipamiento propio:
                </span>
                {{ arquero.equipamientoPropio }}
            </li>
            <li>
                <span>
                    Equipamiento que utiliza del club:
                </span>
                {{ arquero.equipamientoClub }}
            </li>
        </ul>
    </mat-card-content>
</mat-card>