<main class="main-home">
    <div class="header-login">
        <img class="logo-img" [src]="urlImgLogo " alt="MR_Goalkeepers">

        <h1 class="title-h1">Gestión Pats by MR_Goalkeepers</h1>

        <button mat-stroked-button class="boton-login" [routerLink]="'/ingresar'" *ngIf="!estaLogueado()">
            Login
        </button>


        <button mat-stroked-button class="boton-login" (click)="salir()" *ngIf="estaLogueado()">
            Logout
        </button>
    </div>

    <app-botones-navegacion class="botones-navegacion-home" [urlVolver]="'/bolsos'" [urlHomeOCrear]="'/arqueros'"
        [textoVolver]="'Bolsos'" [textoHomeOCrear]="'Arqueros'">
    </app-botones-navegacion>

    <button mat-stroked-button class="boton-reglamento" [routerLink]="'/reglamento'">
        Reglamento
    </button>


</main>