<main class="main-home">
    <div class="header-login">
        <img class="logo-img" [src]="urlImgLogo " alt="MR_Goalkeepers">

        <h1 class="title-h1">Gestión Pats by MR_Goalkeepers</h1>

        <button mat-stroked-button class="boton-login" [routerLink]="'/ingresar'" *ngIf="!estaLogueado()">
            Ingresar
        </button>

        <button mat-stroked-button class="boton-login" (click)="salir()" *ngIf="estaLogueado()">
            Salir
        </button>
    </div>

    <img [src]="club?.escudoClub" class="img-club">

    <app-botones-navegacion class="botones-navegacion-home" 
        [urlVolver]="['bolsos']" 
        [textoVolver]="'Equipamiento'" 

        [urlHomeOCrear]="['arqueros']"
        [textoHomeOCrear]="'Arqueros'">
    </app-botones-navegacion>

    <button mat-stroked-button class="boton-reglamento" [routerLink]="['reglamento']">
        Reglamento
    </button>


</main>