<!-- Editar Bolso -->
<aside class="aside-form" *ngIf="seEditaBolso">

    <h2 class="titulo-h2">Editar bolso: {{ bolso.nombreBolso.toUpperCase() }}</h2>

    <app-botones-navegacion [urlVolver]="['/bolsos/detalle-bolso/', idParam]" 
        [urlHomeOCrear]="'/'"
        [textoVolver]="'Volver'" [textoHomeOCrear]="'Home'" 
        (cancelarImg)="cancelarCambioImg()"
    >
    </app-botones-navegacion>

    <div class="scroll-container">
        <form #form [formGroup]="formEditarBolso" class="form">
            <mat-form-field>
                <mat-label class="form-label">Nombre Bolso</mat-label>
                <input matInput formControlName="nombreBolso">
            </mat-form-field>
            <mat-form-field>
                <mat-label class="form-label">Arquero/a</mat-label>
                <input matInput formControlName="arquero">
            </mat-form-field>
            <mat-form-field>
                <mat-label class="form-label">Partes</mat-label>
                <textarea matInput formControlName="partes"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label class="form-label">Rastreo</mat-label>
                <textarea matInput formControlName="rastreo"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label class="form-label">Estado</mat-label>
                <textarea matInput formControlName="estado"></textarea>
            </mat-form-field>

            <input type="file" class="input-img-bolso" (change)="subirArchivo($event)" #inputeditarimagen>

            <button mat-flat-button class="boton-crear" (click)="editarBolso()"
                [disabled]="formEditarBolso.invalid || pathImg == undefined">
                Editar
            </button>
        </form>
    </div>

</aside>


<!-- Editar Arquero -->

<aside class="aside-form" *ngIf="seEditaArquero">

    <h2 class="titulo-h2">Editar Arquero: {{ arquero.nombreArquero.toUpperCase() }}</h2>

    <app-botones-navegacion 
        [urlVolver]="[ clubParam, 'arqueros', 'detalle-arquero', idParam ]" 
        [urlHomeOCrear]="[ '/', clubParam ]"
        [textoVolver]="'Volver'" [textoHomeOCrear]="'Home'" 
    >
    </app-botones-navegacion>

    <div class="scroll-container">
        <form #form [formGroup]="formEditarArquero" class="form">
            <mat-form-field>
                <mat-label class="form-label">Nombre Arquero</mat-label>
                <input matInput formControlName="nombreArquero">
            </mat-form-field>
            <mat-form-field>
                <mat-label class="form-label">División</mat-label>
                <input matInput formControlName="division">
            </mat-form-field>
            <mat-form-field>
                <mat-label class="form-label">Equipamiento Propio</mat-label>
                <textarea matInput formControlName="equipamientoPropio"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label class="form-label">Equipamiento Club</mat-label>
                <textarea matInput formControlName="equipamientoClub"></textarea>
            </mat-form-field>

            <button mat-flat-button class="boton-crear" (click)="editarArquero()"
                [disabled]="formEditarArquero.invalid">
                Editar
            </button>
        </form>
    </div>

</aside>