<aside class="aside-bolsos">

    <app-botones-navegacion class="botones-navegacion-home" [urlVolver]="'/'" 
        [textoVolver]="'Home'">
    </app-botones-navegacion>

    <mat-card-header class="container-title">

        <mat-card-title class="card-title">Reglamento</mat-card-title>
        <button mat-fab aria-label="Editar bolso" class="boton-editar" [routerLink]="['/editar-reglamento']">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card-header>

    <p class="texto-reglamento">{{miReglamento}}</p>

</aside>