.aside-registro{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.boton-registro-volver{
    border: 1px solid #d6d2ea;
    background-color: #295ec1;
    color: #d6d2ea;
    text-align: center;

}

.container-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%!important;
    margin: 2rem 0 1rem;
}

.card-title{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.boton-editar{
    border: 1px solid #d6d2ea;
    background-color: #295ec1;
    color: #d6d2ea;
}

.scroll-container{
    height: 70%;
    overflow-y: auto; 
    width: auto;
}

.texto-reglamento{
    text-align: justify;
    line-height: 1.8;
    padding: 0 .5rem;
}