<mat-card *ngFor="let elemento of listado; let i = index;" class="example-card"
    style="border: 1px solid black; width: 200px; margin: auto; cursor: pointer;">
    <span [routerLink]="['/bolsos/detalle-bolso/', i]">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ elemento?.nombreBolso }}</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image style="width: 100px;" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Rastreo:
                {{ elemento?.rastreo }}
            </p>
            <p>
                Estado:
                {{ elemento?.estado }}
            </p>
        </mat-card-content>
    </span>

    <button mat-flat-button color="warn" style="border: 1px solid black; width: 200px; margin: auto;"
        (click)="eliminarBolso(i)">
        Eliminar
    </button>

</mat-card>