<!-- Card Bolsos -->
<mat-card *ngFor="let bolso of listaBolsos; let i = index;" class="example-card"
    >
    <span class="span-card" [routerLink]="['/bolsos/detalle-bolso/', i]">

        <mat-card-header class="container-title">
            <mat-card-title class="card-title">{{ bolso.nombreBolso }}</mat-card-title>
        </mat-card-header>

        <img mat-card-image 
            class="card-img"
             
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
            
        <mat-card-content class="card-text">
            <ul>
                <li>
                    Rastreo:
                    {{ bolso.rastreo }}
                </li>
                <li>
                    Estado:
                    {{ bolso.estado }} aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                </li>
            </ul>
        </mat-card-content>
    </span>

    <button mat-flat-button class="boton-eliminar"
        (click)="eliminarBolso(i)">
        Eliminar
    </button>

</mat-card>

<!-- Card Arqueros -->
<mat-card *ngFor="let arquero of listaArqueros; let i = index;" class="example-card"
    >
    <span class="span-card" [routerLink]="['/arqueros/detalle-arquero/', i]">
        <mat-card-header class="container-title">

            <mat-card-title class="card-title">{{ arquero?.nombreArquero }}</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image style="width: 100px;" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"> -->
        <mat-card-content class="card-text">
            <ul>
                <li>
                    Division: 
                    {{ arquero?.division }}
                </li>
                <li>
                    Equipamiento de {{ arquero?.nombreArquero }}:
                    {{ arquero?.equipamientoPropio }}
                </li>
                <li>
                    Utiliza del club:
                    {{ arquero?.equipamientoClub }}
                </li>
            </ul>
        </mat-card-content>
    </span>

    <button mat-flat-button class="boton-eliminar" 
        (click)="eliminarBolso(i)">
        Eliminar
    </button>

</mat-card>