<!-- Card Bolsos -->
<mat-card *ngFor="let bolso of listaBolsos; let i = index;" class="example-card"
    style="border: 1px solid black; width: 200px; margin: auto; cursor: pointer;">
    <span [routerLink]="['/bolsos/detalle-bolso/', i]">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ bolso.nombreBolso }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image style="width: 100px;" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <ul>
                <li>
                    Rastreo:
                    {{ bolso.rastreo }}
                </li>
                <li>
                    Estado:
                    {{ bolso.estado }}
                </li>
            </ul>
        </mat-card-content>
    </span>

    <button mat-flat-button color="warn" style="border: 1px solid black; width: 200px; margin: auto;"
        (click)="eliminarBolso(i)">
        Eliminar
    </button>

</mat-card>

<!-- Card Arqueros -->
<mat-card *ngFor="let arquero of listaArqueros; let i = index;" class="example-card"
    style="border: 1px solid black; width: 200px; margin: auto; cursor: pointer;">
    <span [routerLink]="['/arqueros/detalle-arquero/', i]">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ arquero?.nombreArquero }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image style="width: 100px;" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <ul>
                <li>
                    Division: 
                    {{ arquero?.division }}
                </li>
                <li>
                    Equipamiento de {{ arquero?.nombreArquero }}:
                    {{ arquero?.equipamientoPropio }}
                </li>
                <li>
                    Equipamiento que utiliza del club:
                    {{ arquero?.equipamientoClub }}
                </li>
            </ul>
        </mat-card-content>
    </span>

    <button mat-flat-button color="warn" style="border: 1px solid black; width: 200px; margin: auto;"
        (click)="eliminarBolso(i)">
        Eliminar
    </button>

</mat-card>