.aside-detalle-arqueros{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.scroll-container{
    height: 70%;
    overflow-y: auto; 
    padding: .5rem;
}