.aside-form{
    height: 100%;
    width: 100%;
    text-align: center;
}

.titulo-h2{
    padding-top: 1rem;
    text-align: center;
}

.form{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #1d7cbd;
    padding: .5rem 0;
}

.form-label{
    color: black;
}

.radio-button-container{
    display: flex;
    flex-direction: column;
    min-height: 50px;
    justify-content: space-between;
    margin: 1rem 0;
}

.example-radio-group-label{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.scroll-container{
    max-height: 200px;
    overflow-y: auto!important; 
    padding: .5rem;
}

.example-radio-button{
    margin: .5rem;
}

.detalle-club{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.icon-club{
    width: 60px;
}

.boton-login{
    background-color: #295ec1;
    color: #d6d2ea;
    border: 1px solid #d6d2ea;
    width: 30%;
    margin: auto;
}

.boton-registrarse{
    margin-top: 1rem;
    background-color: #d6d2ea;
    color: #295ec1;
    border: 1px solid #295ec1;
    width: 30%;
}