.aside-bolsos{
    height: 100%;
}

.titulo-h2{
    text-align: center;
}

.texto-empty{
    padding: 1rem 0;
    text-align: center;
}

.scroll-container{
    height: 70%;
    background-color: #d6d2ea;
    overflow-y: auto; 
    width: auto;
    padding: .5rem;
}