<aside class="aside-bolsos">
    
    <h2 class="titulo-h2">Listado De Arqueros</h2>
    <app-botones-navegacion 
    [urlVolver]="['/', clubParam]" 
    [urlHomeOCrear]="'/arqueros/crear-arquero'" 
    [textoVolver]="'Volver'"
        [textoHomeOCrear]="'Crear Arquero'">
    </app-botones-navegacion>

    <div class="scroll-container" *ngIf="!mensajeCompoVacio">
        <div class="scroll-content">
            <ng-container *ngIf="listaArqueros">
                <app-card  
                    [listadoArqueros]="listaArqueros"
                    (eliminar)="eliminarBolso($event)">
                </app-card>
            </ng-container>
        </div>
    </div>

    <div *ngIf="mensajeCompoVacio">
        <p class="texto-empty">No hay Arqueros creados.</p>
    </div>

</aside>