<!-- <h2>Bolso: "Nombre Bolso"</h2> -->
<aside>
  <div>
    <button mat-flat-button color="warn" routerLink="/" style="border: 1px solid black; width: 200px; margin: auto;">
      Home
    </button>
    <button mat-flat-button color="warn" routerLink="/bolsos"
      style="border: 1px solid black; width: 200px; margin: auto;">
      Volver
    </button>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Nombre Bolso</mat-card-title>
      <mat-card-subtitle>Arquera que lo utiliza</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Estado bolso.
      </p>
      <p>
        Arquera/s que lo utiliza.
      </p>
      <p>
        Rastreo bolso.
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
</aside>