<aside>
    <div>
        <button mat-flat-button color="warn" routerLink="/"
            style="border: 1px solid black; width: 200px; margin: auto;">
            Home
        </button>
        <button mat-flat-button color="warn" routerLink="/bolsos"
            style="border: 1px solid black; width: 200px; margin: auto;">
            Volver
        </button>
    </div>
    <form [formGroup]="formCrearBolso">
        <div>
            <mat-form-field>
                <mat-label style="color:black">Nombre Bolso</mat-label>
                <input matInput placeholder="Nombre Bolso" formControlName="nombreBolso">
            </mat-form-field>
            <mat-form-field>
                <mat-label style="color:black">Arquero/a</mat-label>
                <input matInput placeholder="Arquero/a" formControlName="arquero">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Partes</mat-label>
                <textarea matInput placeholder="Partes" formControlName="partes"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Rastreo</mat-label>
                <textarea matInput placeholder="Rastreo" formControlName="rastreo"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Estado</mat-label>
                <textarea matInput placeholder="Estado" formControlName="estado"></textarea>
            </mat-form-field>
        </div>
        <div>
            <button mat-flat-button color="warn" 
                style="border: 1px solid black; width: 200px; margin: auto;"
                (click)="crearBolso()"
                [disabled]="formCrearBolso.invalid">
                Crear
            </button>
        </div>
    </form>
</aside>
