<aside class="aside-form">

    <h2 class="titulo-h2">Crea tu bolso</h2>

    <app-botones-navegacion [urlVolver]="'/bolsos'" [urlHomeOCrear]="'/'" [textoVolver]="'Volver'"
        [textoHomeOCrear]="'Home'">
    </app-botones-navegacion>

    <div class="scroll-container">
        <form #form [formGroup]="formCrearBolso" class="form">
            <mat-form-field>
                <mat-label class="form-label">Nombre Bolso</mat-label>
                <input matInput formControlName="nombreBolso">
            </mat-form-field>
            <mat-form-field>
                <mat-label class="form-label">Arquero/a</mat-label>
                <input matInput formControlName="arquero">
            </mat-form-field>
            <mat-form-field>
                <mat-label class="form-label">Partes</mat-label>
                <textarea matInput formControlName="partes"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label class="form-label">Rastreo</mat-label>
                <textarea matInput formControlName="rastreo"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label class="form-label">Estado</mat-label>
                <textarea matInput formControlName="estado"></textarea>
            </mat-form-field>
            <button mat-flat-button class="boton-crear" (click)="crearBolso()" [disabled]="formCrearBolso.invalid">
                Crear
            </button>
        </form>
    </div>

</aside>