<aside>
    <h2>Listado De Bolsos</h2>
    <app-botones-navegacion [urlVolver]="'/'" [urlHomeOCrear]="'/bolsos/crear-bolso'" [textoVolver]="'Volver'"
        [textoHomeOCrear]="'Crear Bolso'">
    </app-botones-navegacion>

    <ng-container *ngIf="listaBolsos">
        <app-card *ngIf="!mensajeCompoVacio" 
            [listadoBolsos]="listaBolsos"
            (eliminar)="eliminarBolso($event)"></app-card>
    </ng-container>


    <div *ngIf="mensajeCompoVacio">
        <p>No hay bolsos creados.</p>
    </div>
</aside>