<aside>
    <div class="title-container">
        <h2>Listado De Bolsos</h2>
        <button mat-flat-button color="warn" routerLink="/"
            style="border: 1px solid black; width: 200px; margin: auto;">
            Volver
        </button>
        <button mat-flat-button color="warn" routerLink="/bolsos/crear-bolso"
            style="border: 1px solid black; width: 200px; margin: auto;">
            Nuevo Bolso
        </button>
    </div>

    <div class="container">
        <mat-card class="example-card" style="border: 1px solid black; width: 200px; margin: auto; cursor: pointer;"
            routerLink="/bolsos/detalle-bolso">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{ bolso?.nombreBolso }}</mat-card-title>
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <img mat-card-image style="width: 100px;" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Rastreo:
                    {{ bolso?.rastreo }}
                </p>
                <p>
                    Estado:
                    {{ bolso?.estado }}
                </p>
                <button mat-flat-button color="warn" routerLink="/"
                style="border: 1px solid black; width: 200px; margin: auto;">
                Modificar ubicación.
            </button>
            </mat-card-content>
        </mat-card>
    </div>
</aside>