<aside class="aside-bolsos">
    <h2 class="titulo-h2">Listado De Bolsos</h2>
    <app-botones-navegacion 
        [urlVolver]="['/', clubParam]" 
        [urlHomeOCrear]="[ 'crear-bolso' ]" 
        [textoVolver]="'Volver'"
        [textoHomeOCrear]="'Crear Bolso'"
    >
    </app-botones-navegacion>

    <div class="scroll-container" *ngIf="!mensajeCompoVacio">
        <div class="scroll-content">
            <ng-container *ngIf="listaBolsos">
                <app-card [listadoBolsos]="listaBolsos" (eliminar)="eliminarBolso($event)">
                </app-card>
            </ng-container>
        </div>
    </div>

    <div *ngIf="mensajeCompoVacio">
        <p class="texto-empty">No hay bolsos creados.</p>
    </div>
</aside>