.main-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.title-h1{
    padding: 1rem 0;
}

.botones-navegacion-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    height: 30%;
}

.botones-navegacion-home button{
    margin: 1rem auto;
}

.logo-img{
    width: 30%;
}