<!-- Detalle Bolsos -->
<mat-card class="example-card" *ngIf="bolso">

    <mat-card-header class="container-title">

        <mat-card-title class="card-title">{{ bolso.nombreBolso.toUpperCase() }}</mat-card-title>
        <button mat-fab aria-label="Editar bolso" class="boton-editar"
            [routerLink]="['/bolsos/editar-bolso/', bolsoId]"
        >
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card-header>
    <img mat-card-image class="card-img" 
        [src]="bolso.urlImgBolso"
        [alt]=" bolso.nombreBolso ">

    <mat-card-content class="card-text">
        <ul>
            <li>
                <strong>
                    Arquero que utiliza el bolso:
                </strong>
                {{ bolso.arquero }}
            </li>
            <li>
                <strong>
                    Estado del bolso:
                </strong>
                {{ bolso.estado }}
            </li>
            <li>
                <strong>
                    Ubicación del bolso:
                </strong>
                {{ bolso.rastreo }}
            </li>
            <li>
                <strong>
                    Equipamiento:
                </strong>
                {{ bolso.partes }}
            </li>
        </ul>
    </mat-card-content>
</mat-card>

<!-- Detalle Arquero -->
<mat-card class="example-card" *ngIf="arquero">

    <mat-card-header class="container-title">
        <mat-card-title class="card-title">{{ arquero.nombreArquero }}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="card-text">
        <ul>
            <li>
                <strong>
                    División en la que juega:
                </strong>
                {{ arquero.division }}
            </li>
            <li>
                <strong>
                    Equipamiento propio:
                </strong>
                {{ arquero.equipamientoPropio }}
            </li>
            <li>
                <strong>
                    Equipamiento que utiliza del club:
                </strong>
                {{ arquero.equipamientoClub }}
            </li>
        </ul>
    </mat-card-content>
</mat-card>