.example-card {
    margin:auto;
    border: 3px solid #1d7cbd;
    width: 80vw;
    cursor: pointer;
}

.container-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%!important;
}

.mat-card-header-text{
    display: inline-block;
    width: 100%!important;
}

.boton-editar{
    border: 1px solid #d6d2ea;
    background-color: #295ec1;
    color: #d6d2ea;
}

.card-title{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.card-img{
    display: block;
    width: 100%;
    margin: auto auto 1rem;
}

.card-text{
    overflow-wrap: break-word;
}

.card-text>ul>li, .partes{
    padding: .5rem 0;
}
