<!-- Detalle Bolsos -->
<mat-card class="example-card" *ngIf="bolso">

    <mat-card-header class="container-title">
        <mat-card-title class="card-title">{{ bolso.nombreBolso }}</mat-card-title>
        <button mat-fab aria-label="Editar bolso" class="boton-editar"
            [routerLink]="['/', clubParam, 'bolsos', 'ubicacion-bolso', idBolso]" *ngIf="estaLogueado">
            <mat-icon>add_location_alt</mat-icon>
        </button>
        <button mat-fab aria-label="Editar bolso" class="boton-editar"
            [routerLink]="['/', clubParam, 'bolsos', 'editar-bolso', idBolso]" *ngIf="estaLogueado">
            <mat-icon>edit</mat-icon>
        </button>

    </mat-card-header>
    <img mat-card-image class="card-img" [src]="bolso.urlImgBolso" [alt]=" bolso.nombreBolso ">

    <mat-card-content class="card-text">
        <ul>
            <li>
                <strong>
                    Arquero que utiliza el bolso:
                </strong>
                {{ bolso.arquero }}
            </li>
            <li>
                <strong>
                    Estado del bolso:
                </strong>
                {{ bolso.observaciones }}
            </li>
            <li>
                <strong>
                    Ubicación del bolso:
                </strong>
                {{ bolso.ubicacion }}
            </li>
            <li>
                <strong>
                    Partes del Equipamiento:
                </strong>
            <li>
                <strong>
                    Casco:
                </strong>
                {{ bolso.casco }}
            </li>
            <li>
                <strong>
                    Cuello:
                </strong>
                {{ bolso.cuello }}
            </li>
            <li>
                <strong>
                    Pechera:
                </strong>
                {{ bolso.pechera }}
            </li>
            <li>
                <strong>
                    Coderas:
                </strong>
                {{ bolso.coderas }}
            </li>
            <li>
                <strong>
                    Guantes:
                </strong>
                {{ bolso.guantes }}
            </li>
            <li>
                <strong>
                    Inguinal:
                </strong>
                {{ bolso.inguinal }}
            </li>
            <li>
                <strong>
                    Bermuda:
                </strong>
                {{ bolso.bermuda }}
            </li>
            <li>
                <strong>
                    Legguards:
                </strong>
                {{ bolso.legguards }}
            </li>
            <li>
                <strong>
                    Kickers:
                </strong>
                {{ bolso.kickers }}
            </li>
            <li>
                <strong>
                    Bolso:
                </strong>
                {{ bolso.bolso }}
            </li>
        </ul>
    </mat-card-content>
</mat-card>

<!-- Detalle Arquero -->
<mat-card class="example-card" *ngIf="arquero">
    <mat-card-header class="container-title">
        <mat-card-title class="card-title">{{ arquero.nombreArquero }}</mat-card-title>

        <button mat-fab aria-label="Editar bolso" class="boton-editar"
            [routerLink]="[ '/', clubParam, 'arqueros', 'editar-arquero', idArquero]" *ngIf="estaLogueado">
            <mat-icon>edit</mat-icon>
        </button>

    </mat-card-header>

    <mat-card-content class="card-text">
        <ul>
            <li>
                <strong>
                    División en la que juega:
                </strong>
                {{ arquero.division }}
            </li>
            <li>
                <strong>
                    Equipamiento propio:
                </strong>
                {{ arquero.equipamientoPropio }}
            </li>
            <li>
                <strong>
                    Equipamiento que utiliza del club:
                </strong>
                {{ arquero.equipamientoClub }}
            </li>
        </ul>
    </mat-card-content>
</mat-card>